body, html {
    height: 100%;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 300;
}

.home-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.home-btn-big {
    min-width: 120px;
    height: 45px;
    margin: 0 5px 5px 0;
}

.home-content {
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    position: absolute;
    margin-left: 20%;
}

.home-bg-image {
    height: 700px;
    width: 95%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    position: absolute;
    overflow: hidden;
}

.home-bg-image:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 300%;
    top: -50%;
    left: -50%;
    background-image: url(../media/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: spin 100s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 700px) {
    .home-content {
         margin-left: 0;
    }
    
    .home-bg-image {
        height: 300px;
    }
}