@import "colorsheet.css";

.header-wrap {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background: var(--darkHue);
    display: flex;
    align-items: stretch;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.header-menu-btn {
    height: 30px;
    filter: invert(100%);
    align-self: center;
    display: none;
}

.header {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    max-width: 1280px;
    user-select: none;
    font-weight: 300;
}

.header-left {
    display: flex;
    align-items: stretch;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    border-right: 2px solid rgba(0, 0, 0, .1);
    margin: 10px 0;
}
.header-logo img {
    width: 80px;
    margin-top: 20px;
    background: var(--darkHue);
    border: 10px solid var(--darkHue);
    border-radius: 10px;
}
.header-logo h2 {
    color: white;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    margin-bottom: 0;
}

.header-items {
    display: flex;
    align-items: stretch;
    color: white;
}
.header-items:hover .header-item {
    opacity: 0.5;
}

.header-item {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease opacity;
}
.header-item:hover {
    opacity: 1 !important;
}

.header-category{
    position: relative;
}
.category-title{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease opacity;
    height: 100%;
}
.category-content{
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    width: 170px;
    background: var(--d6);
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 5px;
}
.header-category:hover .category-content{
    display: block;
    animation: menuPop 0.1s ease;
}
.category-content .header-item{
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding: 5px 20px;
    margin: 2px;
    border-radius: 5px;
    color: white;
}
.category-content .header-item:hover {
    background-color: var(--d5);
}
.category-content .header-item:hover:before {
    content: "";
    border-radius: 50px;
    margin-right: 5px;
    width: 3px;
    height: 15px;
    background-color: var(--userColor);
    position: absolute;
    left: 15px;
}

.header-item.selected::after {
    content: '';
    width: 100%;
    background-color: var(--userColor);
    height: 3px;
    display: block;
    border-radius: 3px;
    transform: translateY(5px);
}

.header-category.selected  .category-title::after{
    content: '';
    width: 100%;
    background: var(--userColor);
    height: 3px;
    display: block;
    border-radius: 3px;
    transform: translateY(5px);
}

.header-account {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-messages {
    border: 2px solid rgba(255, 255, 255, .3);
    opacity: 0.7;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    user-select: none;
    transition: 0.25s ease opacity;
    cursor: pointer;
}
.account-messages:hover {
    opacity: 1;
}

.account-messages img {
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.account-messages p {
    font-size: 20px;
    line-height: 20px;
    margin: -5px 0 0;
    color: #fff;
    opacity: 0.7;
}

.account-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: 0.25s ease filter;
}
.account-icon:hover {
    filter: brightness(90%)
}

@media screen and (max-width: 700px) {
    .header-menu-btn {
        display: flex;
        margin-left: 20px;
        cursor: pointer;
    }
    .header-items {
        position: absolute;
        right: 20px;
        top: 50px;
        background: var(--d6);
        box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
        flex-direction: column;
        width: 200px;
        border-radius: 5px;
        display: none;
        overflow: hidden;
        padding: 10px 0;
    }
    .header-items.vis {
        display: flex;
        animation: 0.25s ease menuPop;
        transform-origin: top right;
    }

    .header-item, .category-content .header-item {
        flex-direction: row;
        padding: 5px 20px;
        margin: 3px 2px;
        align-items: center;
        justify-content: flex-start;
        border-radius: 5px;
    }
    .header-item:hover {
        background-color: var(--d5)
    }
    .header-item:hover:before {
        content: "";
        border-radius: 10px;
        margin-right: 5px;
        width: 2px;
        height: 15px;
        background-color: var(--userColor)
    }

    .header-item.selected::after {
        display: none;
    }

    .header-items:hover .header-item {
        opacity: 1 !important;
    }

    .category-content {
        position: relative;
        display: block;
        background: none;
        box-shadow: none;
        padding: 0;
        top: 0;
        width: 100%;
        border: none;
    }
    .category-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 12px;
        text-transform: uppercase;
        color: var(--userColor);
    }
    .category-title::before {
        content: '';
        display: block;
        width: 15px;
        margin-right: 5px;
        height: 1px;
        background: #fff;
    }
    .category-title::after {
        content: '';
        display: block;
        width: 100%;
        margin-left: 5px;
        height: 1px;
        background: #fff;
    }

    .header-category.selected .category-title::after {
        transform: none;
        width: 100%;
        margin-left: 5px;
        height: 1px;
        background: #fff;
    }

    .header-category:hover .category-content {
        animation: none;
    }
}

.vis {
    visibility: visible !important;
}

@keyframes menuPop {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}