@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="css/home.css">
<div class="home-bg-image">
    <div class="home-content">
        <h1>GD Edit</h1>
        <h2>Home to a new community.</h2>
        <div class="home-buttons">
            <a title="View source code!" class="home-btn-big btn-big" href="https://github.com/gd-edit">
                <span class="btn-big_content">
                    <span class="btn-big_left">Github</span>
                    <span class="btn-big_icon">
                        <span class="fa-fw">
                            <i class="fab fa-github"></i>
                        </span>
                    </span>
                </span>
            </a>
            <a title="Download the Editor!" class="home-btn-big btn-big" href="#">
                <span class="btn-big_content">
                    <span class="btn-big_left">Download</span>
                    <span class="btn-big_icon">
                        <span class="fa-fw">
                            <i class="fas fa-download"></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>