@page
@model IndexModel

@{
    ViewData["Title"] = "home";
}

<link rel="stylesheet" href="css/home.css">
<div class="home-bg-image">
    <div class="home-content">
        <h1>@GlobalVariables.ProjectName</h1>
        <h2>A new vision for a new community</h2>
        <div class="home-buttons">
            <a title="learn more about GD Web" class="home-btn-big btn-big" href="#">
                <span class="btn-big_content">
                    <span class="btn-big_left">Learn More</span>
                    <span class="btn-big_icon">
                        <span class="fa-fw">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>