@page
@model IndexModel

@{
    ViewData["SubSection"] = "Index";
    ViewData["Title"] = "Home";
}

<h1>Hello, world!</h1>

Welcome to your new app. Current section is @GlobalVariables.CurrentSection.ToString()